{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 7 Christopher Samuel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lightTheme.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'jquery-3.4.1.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'customFunctions.js' %}"></script>
</head>
<body>
    <button onClick="toggleCSS('{% static 'lightTheme.css' %}', 0)">Light Theme</button>
    <button onClick="toggleCSS('{% static 'darkTheme.css' %}', 0)">Dark Theme</button>
    <h1>Christopher Samuel's Profile</h1>
    <div id="accordion">
        <h3>Aktivitas</h3>
        <div>
            <ol>
                <li>Belajar jQuery dan implementasinya</li>
                <li>Belajar struktur data Tree</li>
                <li>Mencoba belajar Alin</li>
                <li>Mempersiapkan tugas akhir POK</li>
            </ol>
        </div>

        <h3>Pengalaman Organisasi / Kepanitiaan</h3>
        <div>
            <ol>
                <li>Ketua Panitia Science Fair Edufair CC Tahun 2017</li>
                <li>Anggota Panitia Science Fair CASANOVA CC Tahun 2018</li>
                <li>Anggota FnB COMFEST XI</li>
            </ol>
        </div>

        <h3>Prestasi</h3>
        <div>
            <ol>
                <li>Apresiasi Akademik (Cum Laude) CC Kelas X</li>
                <li>Apresiasi Akademik (Cum Laude) CC Kelas XI</li>
                <li>Apresiasi Akademik (Magna Cum Laude) CC Kelas XII</li>
            </ol>
        </div>
    </div>
</body>
</html>